h1.title {
  margin-bottom: -2%;
}

h1.section-title, h4.section-title {
  text-align: left;
  margin-left: 5%;
}

h1.detail-title, h4.detail-title {
  text-align: left;
  margin-left: 5%;
}

h1.section-title {
  font-size: 2.75rem;
  margin-bottom: -1%;
}

h1.detail-title {
  /* padding-top: 2%; */
  font-size: 4.0rem;
  margin-bottom: -1%;
}

h4.section-title {
  font-size: 1.25rem;
}

h4.detail-title {
  font-size: 1.75rem;
}

hr {
  height: 0.5rem;
  background-color: black;
}

a {
  color: black;
  text-decoration: none;
}

.App {
  text-align: center;
  background-color: lightgrey;
  min-height: 100vh;
}

.App-logo-header {
  height: 5rem;
  pointer-events: none;
  /* padding-left: 10%;
  padding-right: 105%; */
  margin: 10%;

}

.App-title-header {
  flex: 10;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: white;
  height: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: .25rem solid black;
}

.app-bottom-line{
  opacity: 50%;
  height: .2rem;
}


.App-footer {
  /* background-color: white; */
  height: 3%;
  text-align: center;
  font-size: 100%;
  color: black;

  padding-bottom: 1%;
}

.App-footer p {
  display: block;
  clear: both;
}


/* .App-link {
  color: #61dafb;
} */

.center-container {
  display:flex;
  justify-content: center;
}

/* styles.css */
.row {
  display: flex;
  /* flex-wrap: wrap; Allow items to wrap to the next line if needed */
  justify-content: space-between; /* Space items out evenly across the main axis */
}

.back-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 125%;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2%;
  font: inherit;
  font-weight: bold;

  margin-bottom: -20%;
}

.back-button:active {
  background-color: #004080;
}

.home-top-glance-row {
  display: flex;
  /* flex-wrap: wrap; Allow items to wrap to the next line if needed */
  justify-content: space-between; /* Space items out evenly across the main axis */
}

.glance-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.glance-row-disk{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.glance-graph {
  flex: 1;
  /* max-height: 50%; */
  max-width: 50%;
  padding-bottom: 3%;
  position: relative;
}

.glance-graph-disk {
  flex: 1;
  /* max-height: 50%; */
  max-width: 60%;
  padding-bottom: 3%;
  position: relative;
}


.section {
  /* width: calc(50% - 10px); Each section takes up 50% width with some margin */
  width: 100%; /* Each section takes up 50% width with some margin */
  padding: 5%; /* Add margin between sections */
}

.section-Cpu, .section-Mem {
  flex: 1;
  border-right: .25rem solid black;
  max-width: 100%;
  max-height: 100%;
}

.section-Disk {
  width: 50%; /* Each section takes up 50% width with some margin */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.utilandTopProc-sec {
  display: grid; /* Let them grow to occupy available space */
  /* text-align: center; Optionally center the text */
  place-items: center;

  /* margin-right: 10%; */
  /* margin-top: 10%; */
}

.utilBox-glance {
  padding: 5%;
  color: white;
  background-color: black;
  font-weight: bold;
  border: .1rem solid black;
}

.graph {
  width: '75%'; 
  padding: '5%';
}

.top-processes-table-TITLE {
  background-color: white;
  caption-side: top;

  white-space: nowrap;
  font-weight: bold;

  /* position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  padding-top: 2%; */

}

.top-processes-table {
  font-weight: bold;

  table-layout: fixed;

  margin-top: -20%;
  background-color: white;
  border: .1rem solid black;


}

.top-processes-table2 {
  position: relative;
  padding-top: 20%;

  background-color: white;

  border: .1rem solid black;

  padding-bottom: 2%;
}

.top-processes-table-row {
  font-weight: normal;
  display: flexbox;
}

.top-processes-table-proc {
  flex: 0;
  /* text-indent: 5%; */
}

.top-processes-table-util {
  flex: 1;
  white-space: nowrap;
}

.disk-selection-menu {
  background-color: transparent;
  font: inherit;
  font-weight: bold;
  border: none;

  text-align: left;
  font-size: 1.25rem;
}

.disk-selection-option {
  font: inherit;
  font-weight: bold;
}

.processes-table {
  background-color: white;
  /* border-bottom: .1rem solid black;
  border-left: .1rem solid black;
  border-right: .1rem solid black; */
}

.processes-table-row {
  display: flex;
  outline: auto;
}

/* .utilBox, .top-processes-table-TITLE, .top-processes-table, .top-processes-table-row {
  flex-grow: 1;
} */

.glance-table {
  margin-top: 10%;
  font-weight: bold;
  border-spacing: 1em;
}

.detail-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.utilandTopProc-sec-detail {
  display: grid; /* Let them grow to occupy available space */
  /* text-align: center; Optionally center the text */
  place-items: center;

  /* margin-right: 10%; */
  /* margin-top: 10%; */
}

.detail-table {
  margin-top: 15%;
  font-weight: bold;
  border-spacing: 1.25em;
  background-color: white;
  border: .1rem solid black;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20%;
}

.detail-table tr {
  font-size: larger;
}

.detail-table-TITLE {
  background-color: white;
  text-align: center;
  caption-side: top;
  padding-top: 5%;
  font-size:x-large;
}

.graph-detail {
  flex: 1;
  max-height: 45%;
  max-width: 45%;
}

.detail-table td {
  white-space: nowrap;
}

.utilBox-detail {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 17%;
  padding-right: 17%;

  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 2.3rem;  
  border: .1rem solid black;

  white-space: nowrap;
}